main {
  height: 100vh;
  width: 100vw;
}

path {
  // All of the paths need a stroke-width for gsap svg plugin to work
  stroke-width: 1px;
}

.leaf {
  stroke: green;
  fill: white;
  // Hide all of the strokes until their animated
  stroke-dasharray: 0, 5;
}
.treeTrunk {
  stroke: brown;
  fill: brown;
}

.plant {
  height: 20vh;
}